<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}| Cafetaria</title>
</head>
<body>
   <main>
    <nav>
        <ul>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <a href=""><button type="submit">LOGOUT</button></a>
                </form>
            </li>
            <li>
                <a href="{% url 'cafetaria:food' %}">Menu </a>
            </li>
            <li>
                <a href="{% url 'cafetaria:home' %}">Dinning Table </a>
            </li>
            <li>
                <a href="">Special Offers </a>
            </li>
            <li>
                <a href="">Notifications </a>
            </li>
            <li>
                <a href="{% url 'cafetaria:cart' %}">Cart({{cart_item_count}})</a>
            </li>
            <li>
                <a href="{% url 'cafetaria:order-history' %}">Orders</a>
            </li>
            <li>
                <a href="">Customer Points </a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}

   </main>

    <footer>
        <p>&copy; 2024 XXX.Cafeteria </p>
    </footer>
</body>

</html>