{% extends 'cafetaria/_base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<section>
    <h2>Available Food </h2>
    {% for category in categories %}
        <h3>{{category.name}}</h3>
        {%  for food in category.fooditems.all%}
            <ul>
                <li>{{food.name}} <a href="{% url 'cafetaria:addtocart' food.id %}">Add To Cart</a></li>
            </ul>
        {% empty %}
        <p>No food item in category</p>
        {% endfor %}
    {% empty %}
    {% endfor %}
</section>
{% endblock content %}