{% extends 'cafetaria/_base.html' %}
{% block title %}Order Summary{% endblock title %}

{% block content %}
<section>
    <h3>Order Summary:</h3>
    <h3>
        {{order}}
    </h3>
    <h4>Order Items:</h4>
    
    <ul>
        {% for item in order.orderitems.all%}
        <li>{{item.fooditem.name}} @{{item.fooditem.price}} | <button><a href="{% url 'cafetaria:increase-quantity' item.id %}">+</a></button> {{item.quantity}}<button><a href="{% url 'cafetaria:decrease-quantity' item.id %}">-</a></button> <button><a href="{% url 'cafetaria:remove-item' item.id %}">REMOVE</a></button></li>
        {% endfor %}
    </ul>
    <h4>Total Price: Ksh.{{order.total_price}}</h4>
    <button type="button"><a href="{% url 'cafetaria:checkout' %}">CheckOut</a></button>
    
</section>
{% endblock content %}