<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% csrf_token%}
        {{form.as_p}}
        <button type="submit">LOGIN</button>
        <p>Don't have an account? <a href="{% url 'account:register' %}">REGISTER</a></p>
    </form>
</body>
</html>