{% extends 'cafeadmin/_base.html' %}

{% block title %}Food Items{% endblock title %}

{% block content %}
<section>
    <h2>{{category.name}}</h2>
    <p>{{category.description}}</p>

    <ul>
        <li>
            <a href="{% url 'cafeadmin:add-fooditem' category.id %}">Add Food item to Category</a>
        </li>
    </ul>
    <form method="get">
        <input type="search" placeholder="search food..." name="q">
        <button type="submit">Search</button>
    </form>

    <h4>Food Items in Category: {{category.name}}</h4>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for fooditem in fooditems %}
        <tr>
            <td style="font-weight: bold;">{{fooditem.name}}</td>
            <td>{{fooditem.description|truncatewords:5}}</td>
            <td>ksh.{{fooditem.price}}</td>
            <td><span><button><a href="{% url 'cafeadmin:delete-fooditem' fooditem.id category.id %}">DELETE</a></button> | <button><a href="{% url 'cafeadmin:update-fooditem' fooditem.id category.id %}">UPDATE</a></button></span></td>
        </tr>
        {% empty %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    
</section>

{% endblock content %}