{% extends 'cafeadmin/_base.html' %}

{% block title %} Confirm Orders{% endblock title %}

{% block content %}
<section>
    <h3>#{{order}}</h3>
    <h5>Order Items:</h5>
    <ul>
        {% for item in order.orderitems.all%}
        <li>{{item.fooditem.name}}</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">UPDATE</button>
    </form>
    <p><a href="">Print Receipt</a></p>
</section>
{% endblock content %}