{% extends 'cafeadmin/_base.html' %}

{% block title %}Food Categories{% endblock title %}

{% block content %}
<section>
    <h2>Food Categories</h2>

    <ul>
        <li>
            <a href="{% url 'cafeadmin:add-category' %}">Add Category</a>
        </li>
    </ul>
    <form method="get">
        <input type="search" placeholder="search category..." name="q">
        <button type="submit">Search</button>
    </form>

    <h4>All Categories</h4>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td><a href="{% url 'cafeadmin:category-items' category.id %}">{{category.name}}</a></td>
            <td>{{category.description|truncatewords:10}}</td>
            <td><span><button><a href="{% url 'cafeadmin:delete-category' category.id %}">DELETE</a></button> | <button><a href="{% url 'cafeadmin:update-category' category.id %}">UPDATE</a></button></span></td>
        </tr>
        {% empty %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    
</section>

{% endblock content %}